h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.headerIndention{
  height: 20px;
}
.shown{
  color: #ccc;
}
.options{
  text-align: right;
}
.th2{
  text-align: center;
  width: 846px;
  height: 20px;
}
.th1{
  width: 138px;
}